<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Here is that quote!</h3>
    <%= person.name %>
    <%= person.quote %>

  </body>
</html>
