<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Here is that quote!</h3>
    <p>Name : <%= person.name %></p>
    <p> Said this: "<%= person.quote %>"</p>

  </body>
</html>
